body {
  margin: 0;
  position:absolute;
  line-height:normal;
  
}

:root {
  /* fonts */
  --bold-25: "Neutra Display";
  --menu: "Neutra Text";

  /* font sizes */
  --bold-25-size: 16px;
  --font-size-sm: 14px;
  --font-size-51xl: 70px;
  --font-size-23xl: 42px;
  --font-size-37xl: 56px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-76xl-6: 95.6px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-lgi-9: 19.9px;
  --font-size-16xl-6: 35.6px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-smi-4: 12.4px;
  --font-size-15xl-2: 34.2px;
  --font-size-8xl: 27px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-73xl: 92px;
  --font-size-27xl: 46px;
  --menu-size: 10px;

  /* Colors */
  --astudio-white: #fff;
  --astudio-blue: #c0e3e5;
  --astudio-black: #322625;
  --color-dimgray-100: #665959;
  --color-dimgray-200: rgba(102, 89, 89, 0.09);
  --astudio-grey: #efefef;
  --astudio-yellow: #fdc936;
  --color-black: #000;

  /* Gaps */
  --gap-45xl: 64px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-70xl: 89px;
  --gap-9xl: 28px;
  --gap-2xs: 11px;
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-9xl-6: 28.6px;
  --gap-mid: 17px;
  --gap-51xl: 70px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-61xl: 80px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-53xl: 72px;
  --padding-19xl: 38px;
  --padding-17xl: 36px;
  --padding-11xs: 2px;
  --padding-lg: 18px;
  --padding-47xl: 66px;
  --padding-174xl: 193px;
  --padding-62xl: 81px;
  --padding-106xl: 125px;
  --padding-9xl: 28px;
  --padding-11xl: 30px;
  --padding-8xl: 27px;
  --padding-7xs: 6px;
  --padding-101xl: 120px;
  --padding-xl: 20px;
  --padding-93xl: 112px;
  --padding-18xl: 37px;
  --padding-72xl: 91px;
  --padding-5xl: 24px;
  --padding-61xl: 80px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-mid: 17px;
  --padding-21xl: 40px;
  --padding-81xl: 100px;
  --padding-23xl: 42px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-32xl: 51px;
  --padding-60xl: 79px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;

  /* Border radiuses */
  --br-8xs: 5px;
}
